body {
    background: rgb(39, 39, 39);
}

h1 {
    position: absolute;
    top: 0%;
    left: 5%;

    font-size: 40px;
    font-family: Arial,Helvetica, sans-serif;
    background: linear-gradient(to bottom, #ffffff, #d1a8e9,#864c86, #430845);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
